﻿@model DTO.Rancheria.ClsCultivo

@{
    ViewBag.Title = "Crear";
}

@{
    Layout = "";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.1.0.js"></script>
<script>
    $(function () {
        $("#contenedorR").load(
            CargarR()
            );
    });


    function CargarR() {
        $.ajax({
            url: '/Cultivo/IdR',
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({}),
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                $("#contenedorR").html(data);
            },
            error: function () {
                alert('error');
            }

        });
    }

</script>

<h2>Crear</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClsCultivo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            <label class="control-label col-md-2" for="CargarR">Rancheria</label>
            <div class="col-md-10" id="contenedorR">
                
                
            </div>
        </div>
        @*<div class="form-group">
            @Html.LabelFor(model => model.idRaancheria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idRaancheria, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.idRaancheria, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.fechaSiembra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fechaSiembra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fechaSiembra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ancho, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ancho, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ancho, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.alto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.alto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.alto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al listado ", "Listar")
</div>

<a class="btn btn-default" href="/Rancheria/ir/">
    ir al listado 
</a>

