﻿
@using Guajira.Seguridad
@{
    ViewBag.Title = "Panel";
}

@{
    Layout = "";
}

@using Guajira.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App title -->
    <title>Sirgo</title>

    <!-- Switchery css -->
    <link href="../Content/assets/plugins/switchery/switchery.min.css" rel="stylesheet" />

    <!-- App CSS -->
    <link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- Modernizr js -->
    <!--    <script src="assets/js/sprite.js"></script>     -->

    <script src="../Content/assets/js/modernizr.min.js"></script>
    <style type="text/css">
        .date {
            float: left;
            height: 52px;
            width: 52px;
            background: url(../../Content/Imagenes/date.png) no-repeat;
            margin-right: 10px;
            padding-top: 0px;
            line-height: normal;
        }

            .date .month {
                display: block;
                text-align: center;
                color: #FFF;
                font-size: 10px;
                padding-top: 4px;
                text-transform: uppercase;
            }

            .date .day {
                display: block;
                text-align: center;
                padding-top: 5px;
                color: #222;
                font-size: 18px;
                font-weight: bold;
            }

        .meta {
            display: block;
            font-size: 11px;
            color: #666;
        }
    </style>


</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left">


                <a onclick="goback();" class="logo">
                    <span>Sirg</span>
                    <img src="../Content/assets/images/gallery/gota-logo.png" style="margin-left: -8px;">
                </a>
            </div>

            <nav class="navbar navbar-custom">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <button class="button-menu-mobile open-left waves-light waves-effect">
                            <i class="zmdi zmdi-menu"></i>
                        </button>
                    </li>

                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li class="nav-item dropdown notification-list" style="display:none;">
                        <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <i class="zmdi zmdi-notifications-none noti-icon"></i>
                            <span class="noti-icon-badge"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5><small><span class="label label-danger pull-xs-right">7</span>Notification</small></h5>
                            </div>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-success"><i class="icon-bubble"></i></div>
                                <p class="notify-details">Robert S. Taylor commented on Admin<small class="text-muted">1min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-info"><i class="icon-user"></i></div>
                                <p class="notify-details">New user registered.<small class="text-muted">1min ago</small></p>
                            </a>

                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <div class="notify-icon bg-danger"><i class="icon-like"></i></div>
                                <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">1min ago</small></p>
                            </a>

                            <!-- All-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                View All
                            </a>

                        </div>
                    </li>



                    <li class="nav-item dropdown notification-list">
                        <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <img src="../Content/assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                            <!-- item-->
                            <div class="dropdown-item noti-title">
                                <h5 class="text-overflow"><small>Bienvenido @Sesion.Usuario.ToUpper()</small></h5>
                            </div>



                            <!-- item-->
                            <a href="javascript:void(0);" class="dropdown-item notify-item">
                                <i class="zmdi zmdi-power"></i> <span>Cerrar sesión</span>
                            </a>

                        </div>
                    </li>

                </ul>

            </nav>

        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu">
            <div class="sidebar-inner slimscrollleft">

                <!--- Sidemenu -->
                <div id="sidebar-menu">
                    <p class="text-muted menu-title">Menu</p>

                    <ul>


                        <li class="has_sub">
                            <a href="" class="waves-effect active"><i class="zmdi zmdi-view-dashboard"></i><span> Tablero </span> </a>
                        </li>

                        <li class="has_sub" style="display:none;">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-wrench"></i> <span> Mantenimiento </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="">Agregar Nutrientes</a></li>
                                <li><a href="">Agregar Agua</a></li>
                                <li><a href="">Coseñar</a></li>
                                <li><a href="">Limpiar Lineas</a></li>
                            </ul>
                        </li>


                        <li class="has_sub">
                            <a href="javascript:void(0);" class="waves-effect"><i class="zmdi zmdi-chart"></i><span> Estadisticas </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="grafica1">Consumo Nutrientes</a></li>

                                <li><a href="grafica2">Consumo de agua</a></li>

                                <li><a href="grafica3">Medicion de crecimiento</a></li>

                            </ul>
                        </li>




                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-title-box">
                                <h4 class="page-title">Mi cultivo</h4>

                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                    <!-- <img id="imagen" src="assets/images/gallery/fondo.png" style="display:none">    -->

                    <canvas id="myCanvas2" style="border:1px solid #d3d3d3;">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                    <br />
                    <script>
                        function goback() {
                            window.history.back();
                        }
                    </script>


                     <br />
                    <h4>Fechas</h4>
                    <br />

                    <div id="fechas">
                        <div style="display:inline; float:left;  width:500px;">

                            <h2>
                                <span class="date">
                                    <span id="month_yearS" class="month">
                                        Dec
                                    </span>
                                    <span id="dayS" class="day">
                                        25
                                    </span>
                                </span> Siembra
                                <span class="meta">SIRGO.</span>
                            </h2>



                        </div>
                        <div style="display:inline; float:left">



                            <h2>
                                <span class="date">
                                    <span id="month_yearC" class="month">
                                        Dec
                                    </span>
                                    <span id="dayC" class="day">
                                        25
                                    </span>
                                </span> Cosecha
                                <span class="meta">SIRGO.</span>
                            </h2>



                        </div>
                    </div>







                </div> <!-- container -->

            </div> <!-- content -->

        </div>
        <!-- End content-page -->
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

        <div id="custom-modal" class="modal-demo">
            <button type="button" class="close" onclick="Custombox.close();">
                <span>&times;</span><span class="sr-only">Close</span>
            </button>
            <h4 class="custom-modal-title">Modal title</h4>
            <div class="custom-modal-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>






        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <div class="nicescroll">
                <ul class="nav nav-tabs text-xs-center">
                    <li class="nav-item">
                        <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                            Activity
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                            Settings
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade in active" id="home-2">
                        <div class="timeline-2">
                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">5 minutes ago</small>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong> Uploaded a photo <strong>"DSC000586.jpg"</strong></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">30 minutes ago</small>
                                    <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">59 minutes ago</small>
                                    <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">1 hour ago</small>
                                    <p><strong><a href="#" class="text-info">John Doe</a></strong>Uploaded 2 new photos</p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">3 hours ago</small>
                                    <p><a href="" class="text-info">Lorem</a> commented your post.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>

                            <div class="time-item">
                                <div class="item-info">
                                    <small class="text-muted">5 hours ago</small>
                                    <p><a href="" class="text-info">Jessi</a> attended a meeting with<a href="#" class="text-success">John Doe</a>.</p>
                                    <p><em>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam laoreet tellus ut tincidunt euismod. "</em></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="messages-2">

                        <div class="row m-t-20">
                            <div class="col-xs-8">
                                <h5 class="m-0">Notifications</h5>
                                <p class="text-muted m-b-0"><small>Do you need them?</small></p>
                            </div>
                            <div class="col-xs-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-xs-8">
                                <h5 class="m-0">API Access</h5>
                                <p class="m-b-0 text-muted"><small>Enable/Disable access</small></p>
                            </div>
                            <div class="col-xs-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-xs-8">
                                <h5 class="m-0">Auto Updates</h5>
                                <p class="m-b-0 text-muted"><small>Keep up to date</small></p>
                            </div>
                            <div class="col-xs-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small" />
                            </div>
                        </div>

                        <div class="row m-t-20">
                            <div class="col-xs-8">
                                <h5 class="m-0">Online Status</h5>
                                <p class="m-b-0 text-muted"><small>Show your status to all</small></p>
                            </div>
                            <div class="col-xs-4 text-right">
                                <input type="checkbox" checked data-plugin="switchery" data-color="#64b0f2" data-size="small" />
                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- end nicescroll -->
        </div>
        <!-- /Right-bar -->


    </div>
    <!-- END wrapper -->


    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="../Content/assets/js/jquery.min.js"></script>
    <script src="../Content/assets/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="../Content/assets/js/bootstrap.min.js"></script>
    <script src="../Content/assets/js/detect.js"></script>
    <script src="../Content/assets/js/fastclick.js"></script>
    <script src="../Content/assets/js/jquery.blockUI.js"></script>
    <script src="../Content/assets/js/waves.js"></script>
    <script src="../Content/assets/js/jquery.nicescroll.js"></script>
    <script src="../Content/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../Content/assets/js/jquery.slimscroll.js"></script>
    <script src="../Content/assets/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="../Content/assets/js/jquery.core.js"></script>
    <script src="../Content/assets/js/jquery.app.js"></script>

    <script type="text/javascript" src="../Scripts/game.js"></script>

</body>
</html>