﻿@model DTO.Rancheria.ClsRancheria

@{
    ViewBag.Title = "Crear";
}
@{
    Layout = "";
}



@using Guajira.Seguridad
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- App Favicon -->
    <link rel="shortcut icon" href="../Content/assets/images/favicon-sirgo.ico">

    <!-- App title -->
    <title>Sirgo</title>

    @Styles.Render("~/Content/estilosIndex")
    @Scripts.Render("~/bundles/modernizrIndex")
    @Scripts.Render("~/bundles/jquery")
</head>



<body class="fixed-left">
    @if (!string.IsNullOrEmpty(Sesion.Usuario))
    {


            <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">

                <!-- LOGO -->
                <div class="topbar-left">
                    <a href="" class="logo">
                        <span>Sirg</span>
                        <img src="../Content/assets/images/gallery/gota-logo.png" style="margin-left: -8px;">
                    </a>
                </div>


                <nav class="navbar navbar-custom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <button class="button-menu-mobile open-left waves-light waves-effect">
                                <i class="zmdi zmdi-menu"></i>
                            </button>
                        </li>

                    </ul>

                    <ul class="nav navbar-nav pull-right">
                        
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../Content/assets/images/users/avatar-1.jpg" alt="user" class="img-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5 class="text-overflow"><small>Bienvenido @Sesion.Usuario.ToUpper()</small> </h5>
                                </div>

                                <!-- item-->
                               


                                <!-- item-->
                                <a href="@Url.Action("CerrarSesion","Usuario")" class="dropdown-item notify-item">
                                    <i class="zmdi zmdi-power"></i> <span>Cerrar sesión</span>
                                </a>

                            </div>
                        </li>

                    </ul>

                </nav>

            </div>
            <!-- Top Bar End -->
            <!-- ========== Left Sidebar Start ========== -->


            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <img src="../Content/assets/images/gallery/mano.png" style="width: 100%;">
                    <!--- Sidemenu -->
                  
                    <!-- Sidebar -->
                    <div class="clearfix"></div>

                </div>

            </div>
            <!-- Left Sidebar End -->
            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="page-title-box">
                                    <h4 class="page-title">Creando Rancheria </h4>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->


                        <div class="row">

                            <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">
                                        <hr />
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control",required="required" } })
                                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.latitud, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.latitud, new { htmlAttributes = new { @class = "form-control", type = "number" , step = "0.01", required = "required" } })
                                                @Html.ValidationMessageFor(model => model.latitud, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            @Html.LabelFor(model => model.longitud, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.longitud, new { htmlAttributes = new { @class = "form-control" , type="number", step = "0.01" , required="required"} })
                                                @Html.ValidationMessageFor(model => model.longitud, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                        <button type="submit" class="btn btn-primary" style="float:right">Crear</button>


                                    </div>
                                }
                                <script>
                                    $(document).ready(function () {
                                        $("#nombre").val("");
                                        $("#latitud").val("");
                                        $("#longitud").val("");
                                    });

                                </script>


                                @if (ViewBag.Mensaje != null)
                                {
                                    <div>
                                        @Html.Raw(ViewBag.Mensaje)
                                    </div>
                                }

                                
                                <a class="btn btn-info btn-rounded waves-effect waves-light m-r-5 m-b-10" href="Listar"><span class='btn-label'><i class='fa fa fa-arrow-left'></i></span> Volver al listado </a>

                                
                                



                            </div>

                            <div class="col-xs-12 col-lg-6 col-md-6 col-xl-6">
                                <img src="../Content/assets/images/gallery/rancheria.png" style="width: 100%;">

                            </div>


                        </div>
                        <!-- end row -->
                        <!-- Modal creacion de cultivo-->
                       

                    </div> <!-- container -->

                </div> <!-- content -->



            </div>
            <!-- End content-page -->
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->




            <footer class="footer text-right">
                &copy; @DateTime.Now.Year - Sirgo.
            </footer>


        </div>
        <!-- END wrapper -->


        <script>
            var resizefunc = [];
        </script>




    }
    else
    {
        <div class="container body-content">

            <hr />
            <footer class="text-center">
                <p>&copy; @DateTime.Now.Year - U Caldas</p>
            </footer>
        </div>
    }

    @Scripts.Render("~/bundles/ScriptsIndex")

</body>
</html>


